[user]
    name = Hannes von Haugwitz
[init]
    defaultBranch = main
[color]
    ui = auto
[color "diff"]
    oldMoved=241
    newMoved = 254
[commit]
    verbose = true
[core]
    editor = vim
    excludesfile = ~/.gitignore
[diff]
    renames = copies
    colorMoved = blocks
    algorithm = patience
[fetch]
    prune = true
[format]
    pretty = fuller
[gc]
    reflogExpire = 360 days
    reflogExpireUnreachable = 180 days
    pruneExpire = 90 days
[log]
    decorate = short
    follow = true
[merge]
    log = true
    tool = vimdiff
[mergetool]
    keepBackup = false
[push]
    default = simple
[status]
    showStash = true
[include]
    path = .gitconfig.local
