[user]
    name = Hannes von Haugwitz
[color]
    ui = auto
[commit]
    verbose = true
[core]
    editor = vim
[format]
    pretty = fuller
[log]
    decorate = short
[merge]
    log = true
[push]
    default = simple
[status]
    showStash = true
[include]
    path = .gitconfig.local
